<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>問診票・診察申込書</title>
  <link rel="stylesheet" href='css/style.css'>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<body>
  <header class='ly_header'>
    <h1 class='main-tytle'>問診票・診療申込書</h1>
  </header>
  <div class="container mb-3">
    <!-- お客様情報入力フォーム -->
    <form class="needs-validation" name="monshin" novalidate>
      <div class="section">お客様情報</div>
      <div class="card mb-3 shadow-sm" style="padding:20px 0; background-color: rgb(235, 232, 232);">
        <div class="container">
          <div class="row">
            <!-- 名前 -->
            <div class="col-md-6 mb-3">
              <label for="name" class="form-label">お名前</label>
              <input type="text" class="form-control" id="name" name="name" value="" required>
              <div class="invalid-feedback">
                お名前を入力してください．
              </div>
            </div>

            <!-- ふりがな -->
            <div class="col-md-6 mb-3">
              <label for="hurinana" class="form-label">ふりがな</label>
              <input type="text" class="form-control" id="hurigana" name="hurigana" value=""
                required>
              <div class="invalid-feedback">
                ふりがなを入力してください．
              </div>
            </div>


            <!-- 生年月日 -->
            <div class="col-md-4 mb-3">
              <label for="birthDate" class="form-label">生年月日</label>
              <input type="date" class="form-control" id="birthDate" name="birthDate" value=""
                required>
              <div class="invalid-feedback">
                誕生日を入力してください．
              </div>
            </div>

            <!-- 年齢 -->
            <div class="col-md-4 mb-3">
              <label for="age" class="form-label">年齢</label>
              <div class="input-group has-validation">
                <input type="number" min="1" max="150" class="form-control no-spin" name="age" value="" aria-describedby="age"
                  required>
                <span class="input-group-text" id="age">歳</span>
                <div class="invalid-feedback">
                  数値で年齢を入力してください．
                </div>
              </div>
            </div>

            <!-- 性別 -->
            <div class="col-md-2 mb-3">
              <p>性別</p>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="sex" name="sex" value="男" required>
                <label class="form-check-label" for="sex">男</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="sex" name="sex" value="女" required>
                <label class="form-check-label" for="sex">女</label>
                <!-- 要修繕############## -->
                <!-- <div class="invalid-feedback">未選択</div> -->
              </div>
            </div>

            <!-- 住所 -->
            <div class="col-md-7 mb-3">
              <p>住所</p>
              <div class="input-group has-validation" style="width:300px;">
                <span class="input-group-text" id="zip">〒 (数字7桁)</span>
                <input type="number" maxlength="7" class="form-control no-spin" name="zip11"
                  placeholder='0123456' aria-describedby="zip11"
                  onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');" required>
                <div class="invalid-feedback">
                  数値7桁で郵便番号を入力してください．
                </div>
              </div>
              <div class="input-group has-validation">
                <span class="input-group-text" id="addr11">自宅</span>
                <input type="text" class="form-control" name="addr11" size="60"
                  aria-describedby="addr11" required>
                <div class="invalid-feedback">
                  住所を入力してください．
                </div>
              </div>
            </div>

            <!-- 電話番号 -->
            <div class="col-md-5 mb-3">
              <p>電話番号</p>
              <div class="input-group has-validation">
                <span class="input-group-text" id="homeTel">
                  自宅
                  <input type="checkbox" name="homeTelFlg" onclick="HNChange()">
                </span>
                <input type="tel" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{4}" 
                  name="homeNo" placeholder='0000-00-0000'
                  aria-describedby="homeNo" required disabled>
                <div class="invalid-feedback">
                  0000-00-0000の形で電話番号を入力してください．
                </div>
              </div>
              <div class="input-group has-validation">
                <span class="input-group-text" id="mobileTel">
                  携帯
                  <input type="checkbox" name="mobileTelFlg" onclick="MNChange()">
                </span>
                <input type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" 
                  name="mobileNo" placeholder='000-0000-0000'
                  aria-describedby="mobileNo" required disabled>
                <div class="invalid-feedback">
                  000-0000-0000の形で電話番号を入力してください．
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section">アンケート</div>

      <p>この用紙は、安全に治療を受けて頂くための大切な資料となります。</p>
      <p>かかったことのある病気や現在使用中のお薬についてご記入ください。プライバシーは厳守しますので、正確にご記入ください。また、安全に治療を受けていただくため、問診票のご記入は１年ごとにお願いしております。１年以内でも変化があった場合は、都度ご申告いただきますようお願いいたします。</p>

      <!-- boot strap -->
      <!-- Q1 -->
      <div class="card shadow-sm mb-3 ">
        <h5 class="card-header">
					Q1 : 現在治療中の病気または過去に治療を受けた病気がありますか？
					<label><input type="radio" name="Q1"  onclick="Q1Change()" value = "ない" checked/>ない</label>
					<label><input type="radio" name="Q1"  onclick="Q1Change()" value = "ある"/>ある</label>
				</h5>
        <!-- Q1で「ある」と答えた場合の入力フォーム -->
        <div class="card-body" id="show1">
          <table class="table">
            <tr>
              <th scope="row">肩・腰の痛み</th>
              <td>
                <label><input type="checkbox" name="Q101" value="肩こり">肩こり</label>
                <label><input type="checkbox" name="Q101" value="腰痛">腰痛</label>
                <label><input type="checkbox" name="Q101" value="五十肩">五十肩</label>
              </td>
            </tr>
            <tr>
              <th scope="row">生活習慣病</th>
              <td>
                <label><input type="checkbox" name="Q102" value="糖尿病">糖尿病</label>
                <label><input type="checkbox" name="Q102" value="高コレステロール">高コレステロール</label>
                <label><input type="checkbox" name="Q102" value="高中性脂肪">高中性脂肪</label>
              </td>
            </tr>
            <tr>
              <th scope="row">心臓</th>
              <td>
                <label><input type="checkbox" name="Q103" value="不整脈">不整脈</label>
                <label><input type="checkbox" name="Q103" value="腰痛">腰痛</label>
                <label><input type="checkbox" name="Q103" value="五十肩">五十肩</label>
              </td>
            </tr>
            <tr>
              <th scope="row">血管や血液</th>
              <td>
                <label><input type="checkbox" name="Q104" value="高血圧">高血圧</label>
                <label><input type="checkbox" name="Q104" value="動脈硬化">動脈硬化</label>
                <label><input type="checkbox" name="Q104" value="貧血">貧血</label>
                <label><input type="checkbox" name="Q104" value="白血病">白血病</label>
                <label><input type="checkbox" name="Q104" value="血小板異常">血小板異常</label>
              </td>
            </tr>
            <tr>
              <th scope="row">脳</th>
              <td>
                <label><input type="checkbox" name="Q105" value="脳出血">脳出血</label>
                <label><input type="checkbox" name="Q105" value="脳梗塞">脳梗塞</label>
                <label><input type="checkbox" name="Q105" value="てんかん">てんかん</label>
                <label><input type="checkbox" name="Q105" value="けいれん">けいれん</label>
              </td>
            </tr>
            <tr>
              <th scope="row">肺</th>
              <td>
                <label><input type="checkbox" name="Q106" value="ぜんそく">ぜんそく</label>
                <label><input type="checkbox" name="Q106" value="気胸">気胸</label>
                <label><input type="checkbox" name="Q106" value="肺結核">肺結核</label>
              </td>
            </tr>
            <tr>
              <th scope="row">消化管</th>
              <td>
                <label><input type="checkbox" name="Q107" vlaue="胃炎">胃炎</label>
                <label><input type="checkbox" name="Q107" vlaue="胃・十二指腸潰瘍">胃・十二指腸潰瘍</label>
              </td>
            </tr>
            <tr>
              <th scope="row">肝臓や腎臓</th>
              <td>
                <label><input type="checkbox" name="Q108" value="B型・C型肝炎">B型・C型肝炎</label>
                <label><input type="checkbox" name="Q108" value="肝硬変">肝硬変</label>
                <label><input type="checkbox" name="Q108" value="腎炎">腎炎</label>
                <label><input type="checkbox" name="Q108" value="腎不全">腎不全</label>
              </td>
            </tr>
            <tr>
              <th scope="row">心や神経</th>
              <td>
                <label><input type="checkbox" name="Q109" value="不眠症">不眠症</label>
                <label><input type="checkbox" name="Q109" value="神経症">神経症</label>
                <label><input type="checkbox" name="Q109" value="うつ病">うつ病</label>
                <label><input type="checkbox" name="Q109" value="拒食症">拒食症</label>
                <label><input type="checkbox" name="Q109" value="パニック障害">パニック障害</label>
              </td>
            </tr>
            <tr>
              <th scope="row">ホルモン</th>
              <td>
                <label><input type="checkbox" name="Q110" value="甲状腺の病気">甲状腺の病気</label>
                <label><input type="checkbox" name="Q110" value="更年期障害">更年期障害</label>
              </td>
            </tr>
            <tr>
              <th scope="row">婦人科</th>
              <td>
                <label><input type="checkbox" name="Q111" value="子宮内膜症">子宮内膜症</label>
                <label><input type="checkbox" name="Q111" value="子宮筋腫">子宮筋腫</label>
                <label><input type="checkbox" name="Q111" value="乳腺の病気">乳腺の病気</label>
              </td>
            </tr>
            <tr>
              <th scope="row">目</th>
              <td>
                <label><input type="checkbox" name="Q112" value="緑内障">緑内障</label>
                <label><input type="checkbox" name="Q112" value="白内障">白内障</label>
                <label><input type="checkbox" name="Q112" value="網膜はく離">網膜はく離</label>
                <label><input type="checkbox" name="Q112" value="視覚障害">視覚障害</label>
              </td>
            </tr>
            <tr>
              <th scope="row">骨</th>
              <td>
                <label><input type="checkbox" name="Q113" value="椎間板ヘルニア">椎間板ヘルニア</label>
                <label><input type="checkbox" name="Q113" value="背骨の曲がり">背骨の曲がり</label>
              </td>
            </tr>
            <tr>
              <th scope="row">免疫</th>
              <td>
                <label><input type="checkbox" name="Q114" value="リウマチ">リウマチ</label>
                <label><input type="checkbox" name="Q114" value="こう原病">こう原病</label>
                <label><input type="checkbox" name="Q114" value="アレルギー">アレルギー</label>
                <label><input type="checkbox" name="Q114" value="免疫不全">免疫不全</label>
                <p class="annotation">※リウマチの方：金製剤の服用歴　（わずかな期間・量でもご申告ください）</p>
                <label><input type="radio" name="rheumatism" value="ある">ある</label>
                <label><input type="radio" name="rheumatism" value="ない">ない</label>
              </td>
            </tr>
            <tr>
              <th scope="row">皮フ</th>
              <td>
                <label><input type="checkbox" name="Q115" value="アトピー">アトピー</label>
                <label><input type="checkbox" name="Q115" value="皮フ腫瘍">皮フ腫瘍</label>
                <label><input type="checkbox" name="Q115" value="光線過敏症">光線過敏症</label>
                <label><input type="checkbox" name="Q115" value="水虫">水虫</label>
              </td>
            </tr>
            <tr>
              <th scope="row">肌トラブル</th>
              <td>
                <label><input type="checkbox" name="Q116" value="乾燥">乾燥</label>
                <label><input type="checkbox" name="Q116" value="かぶれ">かぶれ</label>
                <label><input type="checkbox" name="Q116" value="ケロイド体質">ケロイド体質</label>
              </td>
            </tr>

            <tr>
              <th colspan="2">
                <p>その他，上記の症状に当てはまらない場合等はこちらへ記入ください．</p>
                <textarea class="form-control" name="Q117" cols="100" rows="3"
                  wrap="hand"></textarea>
              </th>
            </tr>
            <tr>
              <th colspan="2">
                <p>治療中・治療期間・完治時期等</p>
                <textarea class="form-control" name="Q118" cols="100" rows="3"
                  wrap="hand"></textarea>
              </th>
            </tr>
          </table>
        </div>
      </div>

      <!-- Question 2 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q2 : 最近使用したお薬あるいは現在使用中のお薬はありますか？
					<label><input  type="radio" name="Q2" onclick="Q2Change();" value="ない" checked/>ない</label>
					<label><input type="radio" name="Q2" onclick="Q2Change();" value="ある"/>ある</label>
				</h5>
        <!-- あると答えた場合の表示部 -->
        <div class="card-body" id="show2">
          <p>ピルの服用もご申告ください</p>
          <table>
            <tr>
              <th>薬品名:</th>
              <td><input class="form-control" type="text" name="Q201" size="100" maxlength="100">
              </td>
            </tr>
          </table>
          <p class="annotation">●使用している場合は，医師に申告，または処方箋かお薬手帳をご提示ください．</p>
        </div>
      </div>

      <!-- Question 3 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q3 : 体に合わない（アレルギーのある）お薬や食べ物はありましたか？
					<label><input type="radio" name="Q3" onclick="Q3Change();"  value="ない" checked/>ない</label>
					<label><input type="radio" name="Q3" onclick="Q3Change();"  value="ある"/>ある</label>
				</h5>
        <!-- あると答えた場合の表示部 -->
        <div class="card-body" id="show3">
          <p>ピルの服用もご申告ください</p>
          <table>
            <tr>
              <th>薬品名:</th>
              <td><input class="form-control" type="text" name="Q301" size="100" maxlength="100">
              </td>
            </tr>
            <tr>
              <th>食品名:</th>
              <td><input class="form-control" type="text" name="Q302" size="100" maxlength="100">
              </td>
            </tr>
          </table>
        </div>
      </div>


      <!-- Question 4 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q4 : 点滴をされて気分が悪くなったことがありますか？
					<label><input type="radio" name="Q4" onclick="Q4Change();"  value="ない" checked/>ない</label>
					<label><input type="radio" name="Q4" onclick="Q4Change();"  value="ある"/>ある</label>
				</h5>
        <!-- あると答えた場合の表示部 -->
        <div class="card-body" id="show4">
          <table>
            <tr>
              <th>いつ頃:</th>
              <td><input type="text" class="form-control" name="Q401" size="100" maxlength="100">
              </td>
            </tr>
            <tr>
              <th>状況等:</th>
              <td><input type="text" class="form-control" name="Q402" size="100" maxlength="100">
              </td>
            </tr>
          </table>
        </div>
      </div>



      <!-- Question 5 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q5 : 「病気・ケガの手術」や「美容外科の手術」を，受けたことがありますか？
					<label><input type="radio" name="Q5" onclick="Q5Change();"  value="ない" checked/>ない</label>
					<label><input type="radio" name="Q5" onclick="Q5Change();"  value="ある"/>ある</label>
				</h5>
        <!-- あると答えた場合の表示部 -->
        <div class="card-body" id="show5">
          <table>
            <tr>
              <th>いつ頃:</th>
              <td><input type="text" class="form-control" name="Q501" size="100" maxlength="100">
              </td>
            </tr>
            <tr>
              <th>状況等:</th>
              <td><input type="text" class="form-control" name="Q502" size="100" maxlength="100">
              </td>
            </tr>
          </table>
        </div>
      </div>




      <!-- Question 6 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q6 : 手術や出産時に輸血をしたことがありますか？
					<label><input type="radio" name="Q6" onclick="Q6Change();"  value="ない" checked/>ない</label>
					<label><input type="radio" name="Q6" onclick="Q6Change();"  value="ある"/>ある</label>
				</h5>
        <div class="card-body" id="show6">
          <!-- あると答えた場合の表示部 -->
          <table>
            <tr>
              <td colspan="2">
                <table>
                  <tr>
                    <th>いつ頃:</th>
                    <td><input type="text" class="form-control" name="Q601" size="100"
                        maxlength="100"></td>
                  </tr>
                  <tr>
                    <th>内容:</th>
                    <td><input type="text" class="form-control" name="Q602" size="100"
                        maxlength="100"></td>
                  </tr>
                </table>
                <p>輸血後，血液検査を受けていますか？</p>
                <label><input type="radio" name="yuketsu" value="受けていない">受けていない</label><br>
                <label><input type="radio" name="yuketsu" value="受けている，異常なし">受けている，異常なし</label><br>
                <label><input type="radio" name="yuketsu" value="受けている，異常あり">受けている,異常あり</label><br>
                <label>詳細<input class="form-control" type="textarea" name="yuketsuDetail"
                    size="100"></label>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Question 7 -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">
					Q7 : アートメイクや入れ墨をしたことがありますか？
					<label><input type="radio" name="Q7"onclick="Q7Change();"  value="ない" checked/>ない</label>
					<label><input type="radio" name="Q7"onclick="Q7Change();"  value="ある"/>ある</label>
				</h5>
        <!-- あると答えた場合の表示部 -->
        <div class="card-body" id="show7">
          <table>
            <tr>
              <td colspan="2">
                <p>部位や大きさをご記入ください．</p>
                <input type="text" class="form-control" name="Q701" maxlength="100">
                <p>入れ墨をされ，血液検査をうけていますか？</p>
                <label><input type="radio" name="irezumi" value="受けていない">受けていない</label><br>
                <label><input type="radio" name="irezumi" value="受けている，異常なし">受けている，異常なし</label><br>
                <label><input type="radio" name="irezumi" value="受けている，異常あり">受けている,異常あり</label><br>
                <label>詳細<input type="textarea" class="form-control" name="irezumiDetail"
                    size="100"></label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- Q8女性の方へ -->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">Q8 : 女性の方へ</h5>
        <div class="card-body">
          <table>
            <tr class="inline">
              <td class="inline" colspan="2"><label><input type="checkbox" name="Q8"
                    value="妊娠中">妊娠中</label>
                <label><input type="text" name="term" value="">ヶ月</label>
              </td>
              <td class="inline"><label><input type="checkbox" name="Q8"
                    value="妊娠の可能性あり">妊娠の可能性あり</label></td>
              <td class="inline"><label><input type="checkbox" name="Q8" value="妊活中">妊活中</label>
              </td>
            </tr>
            <tr class="inline">
              <td class="inline"><label><input type="checkbox" name="Q8" value="授乳中">授乳中</label>
              </td>
              <td class="inline"><label><input type="checkbox" name="Q8"
                    value="過去に授乳経験あり">過去に授乳経験あり</label></td>
              <td class="inline"><label><input type="checkbox" name="Q8"
                    value="閉経の可能性あり">閉経の可能性あり</label></td>
              <td class="inline"><label><input type="checkbox" name="Q8" value="特になし">特になし</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- Q9 -->
      <p>該当する項目にチェックをつけてお答えください．</p>
      <div class="card shadow-sm mb-3">
        <h5 class="card-header"> カウンセリングを受けたい項目にチェックを付けてください</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="二重・目もと・まぶた">二重・目もと・まぶた</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9" value="プチ整形">プチ整形</label>
            </div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="しみ・そばかす・くすみ・肝班">しみ・そばかす・くすみ・肝班</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="たるみ・シワ・ほうれい線">たるみ・シワ・ほうれい線</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="小顔・顔やせ">小顔・顔やせ</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="若返り・エイジングケア">若返り・エイジングケア</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="アゴ・フェイスライン">アゴ・フェイスライン</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9" value="鼻の整形">鼻の整形</label>
            </div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="痩身・脂肪吸引・1日脂肪取り">痩身・脂肪吸引・1日脂肪取り</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="ワキガ・多汗症">ワキガ・多汗症</label></div>
            <div class="col-md-4"><input type="checkbox" name="Q9" value="肩こり・腰痛">肩こり・腰痛</label>
            </div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="ニキビ・ニキビ跡・毛穴">ニキビ・ニキビ跡・毛穴</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="医療レーザー脱毛">医療レーザー脱毛</label></div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9" value="ほくろ">ほくろ</label>
            </div>
            <div class="col-md-4"><label><input type="checkbox" name="Q9"
                  value="婦人科形成">婦人科形成</label></div>
            <div class="col-12">
              <p>その他，上記に当てはまらない場合はこちらへご記入ください．</p>
              <textarea class="form-control" name="Q901" cols="100" rows="3" wrap="hand"></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Q10-->
      <div class="card shadow-sm mb-3">
        <h5 class="card-header">本日治療を希望されますか？</h5>
        <div class="card-body">
          <div class="form-check">
            <input type="radio" class="form-check-input" id="Q10_1" name="Q10" value="希望する"
              required>
            <label class="form-check-label" for="Q10_1">希望する</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="Q10_2" name="Q10" value="希望しない"
              required>
            <label class="form-check-label" for="Q10_2">希望しない</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="Q10_3" name="Q10"
              value="カウンセリングによって考える" required>
            <label class="form-check-label" for="Q10_3">カウンセリングによって考える</label>
            <div class="invalid-feedback">未選択です</div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-2 mx-auto">
        <input type="submit" class="btn btn-primary " value="次へ">
      </div>
    </form>
  </div>

  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  <!-- 住所自動入力用 -->
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  <!-- javascript -->
  <script type="text/javascript" src="/js/form_monshin.js"></script>
</body>
</html>
