/* ベース 
===================================*/
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Hiragino Kaku Gothic ProN, Hiragino Sans, ヒラギノ角ゴ ProN W3, Arial,
    メイリオ, Meiryo, sans-serif;
}
header {
  background-color: rgba(100, 201, 219, 0.774);
}

/* レイアウト
================================== */

.ly_header {
  text-align: center;
  height: 100px;
  padding: 30px 30px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.ly_top {
  padding: 30px 15px;
  margin: 30px auto;
}

/* モジュール
======================== */
.main-tytle {
  font-size: xx-large;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
.section {
  font-size: x-large;
  font-weight: 500;
  padding-top: 15px;
  margin: atuo;
}
.subsection {
  font-size: large;
  font-weight: 500;
  padding-top: 15px;
  margin: atuo;
}
.gray-back {
  padding: 20px 0;
  background-color: rgb(235, 232, 232);
}
p.annotation {
  padding: 0, 2px;
  color: #202020;
  font-size: 80%;
}

/*inputの上下ボタンを消す*/
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
